html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  &.is-mobile {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
  }
}

a, h1, h2, h3, h4, h5, textarea, input, p, span {
  color: #ffffff;
}

*:focus {
  outline: none;
}