.contentTitle {
  margin-top: 3 * $sectionPadding;
  margin-bottom: $sectionPadding;

  @include only-tablet {
    margin-top: $sectionPadding;
  }
  @include only-phone {
    margin-top: $sectionPadding;
  }

  .title {
    margin-bottom: 20px;
  }

  &.contentTitle--small,
  &.contentTitle--light {
    margin-top: $sectionPadding;
    margin-bottom: $sectionPadding;

    .contentTitle__title {
      .title--small {
        font-size: 22px;
      }
    }
  }

  &.contentTitle--light {
    .divider {
      // opacity: 0.5;
    }
  }

  .flex {
    flex-wrap: wrap;
    > div {
      flex: 0 0 50%;

      @include only-tablet {
        flex: 0 0 100%;
      }
      @include only-phone {
        flex: 0 0 100%;
      }
    }
  }
}
