.contentTitle {
  padding-top: 3 * $sectionPadding;
  padding-bottom: $sectionPadding;

  &.contentTitle--small,
  &.contentTitle--light {
    padding-top: $sectionPadding;
    padding-bottom: $sectionPadding;

    .contentTitle__title {
      .title--small {
        font-size: 22px;
      }
    }
  }

  &.contentTitle--light {
    .divider {
      border-color: $c-grey-168;
      opacity: 0.5;
    }
  }

  .flex {
    > div {
      flex: 0 0 50%;
    }
  }
}
