.cursor {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 99999;
  background: $c-red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  left: -75px;
  top: -75px;
  pointer-events: none;
  opacity: 0;
  //   transition: opacity 0.4s ease;

  @include only-phone {
    display: none;
  }

  .is-mobile & {
    display: none;
  }

  &.cursor--black {
    opacity: 1;
    background: $c-black;
    color: white;
  }
}

.cursor--visible {
  opacity: 1;
}

.with-cursor {
  position: relative;
  cursor: none;
}
