$animation: ease;

.cursor {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 99999;
  background: $c-red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  pointer-events: none;
  opacity: 0;
  transition: $animation 0.4s width, $animation 0.4s opacity,
    $animation 0.4s height, $animation 0.4s left, $animation 0.4s top;
  left: -0px;
  top: -0px;
  //   transition: opacity 0.4s ease;
  @include only-phone {
    display: none;
  }

  .is-mobile & {
    display: none;
  }

  &.cursor--black {
    opacity: 1;
    background: $c-black;
    color: white;
  }
}

.cursor--visible {
  opacity: 1;
  width: 150px;
  height: 150px;
  left: -75px;
  top: -75px;
}

.with-cursor {
  position: relative;
  cursor: none;
}
