$space-1: 50%;
$space-2: 25%;
$space-3: 12%;
$space-4: calc(
  #{$minWrapperPadding} + 50vw - #{(($mainWidth + 2 * $minWrapperPadding) / 2)}
);
$space-5: calc(
  #{$minWrapperPadding} + 50vw - #{(
      ($smallWrapperWidth + 2 * $minWrapperPadding) / 2
    )}
);
$imageHeight: 350px;

.imagesParallaxWrapper {
  .wrapper {
    // position: relative;
    margin-top: $imageHeight;
    margin-bottom: -$imageHeight;
    position: relative;
    z-index: 20;
  }

  .imagesParallaxWrapper__title {
    width: 100%;
    margin-top: 120px;
  }
}

.imagesParallax {
  .imagesParallax__image {
    position: relative;
    // height: $imageHeight;
    padding-bottom: -200px;

    span {
      // position: absolute;
      z-index: 12;
    }
    img {
      height: $imageHeight;
      width: auto;
      // position: absolute;
    }

    &:nth-child(6n + 1) {
      margin-bottom: -($imageHeight / 2);
      text-align: right;
      z-index: 2;
      img {
        top: 0;
        margin-right: $space-1;
      }
    }

    &:nth-child(6n + 2) {
      margin-bottom: -($imageHeight / 2);
      text-align: right;
      z-index: 4;

      img {
        top: 0;
        margin-right: $space-2;
      }
    }

    &:nth-child(6n + 3) {
      margin-bottom: -($imageHeight * 0.9);
      img {
        margin-left: $space-3;
        z-index: 1;
      }
    }

    &:nth-child(6n + 4) {
      margin-bottom: -30px;

      text-align: right;
      img {
        margin-right: $space-4;
        z-index: 0;
      }
    }

    &:nth-child(6n + 5) {
      // margin-bottom: -($imageHeight / 2);
      img {
        margin-left: $space-5;
        z-index: 2;
      }
    }

    &:nth-child(6n + 6) {
      //   margin-bottom: -100px;
      img {
        margin-right: 0;
        z-index: 1;
      }
    }
  }
}

.parallax {
}
