$space-1: 6.5%;
$space-2: "0";
$imageHeight: 350px;

.imagesParallaxWrapper {
  .wrapper {
    position: relative;
  }

  .imagesParallaxWrapper__title {
    z-index: 10;
    position: absolute;
    width: 100%;
  }
}

.imagesParallax {
  .imagesParallax__image {
    position: relative;
    height: $imageHeight;
    padding-bottom: 200px;

    span {
      position: absolute;
      z-index: 12;
    }
    img {
      height: $imageHeight;
      width: auto;
      position: absolute;
    }

    &:nth-child(6n + 1) {
      //   margin-bottom: -70px;

      img {
        top: 0;
        left: $space-1;
        z-index: 0;
      }
    }

    &:nth-child(6n + 2) {
      //   margin-bottom: -($imageHeight / 2);
      img {
        top: 0;
        right: $space-1;
        z-index: 2;
      }
    }

    &:nth-child(6n + 3) {
      //   margin-bottom: -($imageHeight / 1.5);
      img {
        left: 0;
        z-index: 1;
      }
    }

    &:nth-child(6n + 4) {
      //   margin-bottom: -50px;
      img {
        right: 0;
        z-index: 0;
      }
    }

    &:nth-child(6n + 5) {
      //   margin-bottom: -($imageHeight / 1.5);
      img {
        left: 0;
        z-index: 2;
      }
    }

    &:nth-child(6n + 6) {
      //   margin-bottom: -100px;
      img {
        right: 0;
        z-index: 1;
      }
    }
  }
}

.parallax {
}
