.imageSection {
  position: relative;
  max-width: calc(100vw - #{$minWrapperPadding * 2});
  margin: 0 auto;
  background: $c-black;

  img {
    width: 100%;
  }

  .imageSection__hint {
    margin-top: 10px;
    text-align: right;
    font-family: "Authenia";
    font-size: 24px;
  }
}
