.nextProject {
  background: $c-red;
  padding-top: 2.4 * $sectionPadding;
  padding-bottom: 2.4 * $sectionPadding;
  text-align: center;
  text-decoration: none;

  .mainTitle {
    display: inline-block;

    position: relative;
  }

  .nextProject__number {
    vertical-align: top;
    font-family: "Authenia";
    font-size: 15px;
    color: #ffffff;
    padding-top: 6px;
    margin-right: 6px;
    position: absolute;
    left: 0px;
    top: 5px;
    transform: translateX(-100%);
  }
}
