.videoSection__imageWrapper {
  position: relative;
  .videoSection__video {
    iframe {
      pointer-events: none;
    }
  }

  &.not-playing {
    .videoSection__video {
      iframe {
        pointer-events: none;
      }
    }
  }

  .videoSection__image {
    opacity: 0;
    width: 100%;
  }

  .videoSection__video {
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
  }

  #vimeo {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
