
.works {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 50;

  .is-mobile & {
    position: relative;
  }

  &__content {
    margin: 0 auto;
    max-width: $maxMainWidth;
    padding-bottom: 71px;
    
    h2 {
      padding-top: calc((80vh / 2) - 74px);
      padding-bottom: 160px;
      font-family: "MonumentExtended", sans-serif;
      font-size: 110px;
      color: $c-white;
      text-align: center;
    }
  }

  &__project {
    display: block;
    opacity: 0;
    margin-left: calc((#{$maxMainWidth} - #{$mainWidth}) / 2 + #{$mainWidth} * 1/3);
    margin-bottom: 71px;
    border-bottom: 1px solid $c-dark-grey;
    cursor: url("../../images/cursor_project.png") 64 64, pointer;

    @include customMediaQuery($maxMainWidth) {
      margin-left: calc((100% - #{$mainWidth}) / 2 + #{$mainWidth} * 1/3);
    }

    img {
      max-width: calc(#{$mainWidth} * 2/3);
      width: 100%;
      height: auto;
    }

    > div {
      margin: 32px 0 60px 0;
      span {
        display: inline-block;
        vertical-align: top;
        font-family: "Authenia";
        font-size: 18px;
        color: $c-white;
        margin-top: 4px;
        margin-right: 4px;
      }
      h3 {
        display: inline-block;
        vertical-align: top;
        font-family: "MonumentExtended", sans-serif;
        font-size: 62px;
        color: $c-white;
      }
    }
  }
}