.text {
  font-family: "Apercu";
}

.text--small {
  font-size: 16px;
  line-height: 26px;
}

.text--medium {
  font-size: 30px;
  line-height: 40px;
}

.text--large {
  font-size: 30px;
  line-height: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.divider {
  min-height: 2px;
  background: white;
  margin-bottom: 60px;
}
