.mainTitle {
  font-family: "MonumentExtended";
  font-size: 110px;
  text-transform: uppercase;
}

.title {
  font-family: "MonumentExtended";
  text-transform: uppercase;
}

.title--small {
  font-size: 42px;
}

.title--medium {
  font-size: 82px;
  line-height: 102px;
}

.title--large {
  font-size: 100px;
}
